@model YATDL.TaskModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_TaskCardLayout.cshtml";
}

<div class="clear-fix">
    @Html.Partial("_TaskCardEdit", Model)
</div>

@section head
{
    <link href="~/Content/detailsPage.css" rel="stylesheet" />
}

@section Scripts
{
    <script type="text/javascript">
        window.card = {
            successUrl: "/Home"
        };
    </script>
    <script src="~/Scripts/ejs.min.js" type="text/javascript"></script>
    <script src="~/Scripts/ejs.viewHelpers.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/app/cardEdit.js"></script>
}