body {
    background-color: #fff;
    color: #333;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 10px;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a.no-decoration {
        text-decoration: none;
    }

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
        cursor: pointer;
    }


mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
}

#body {
    background-color: #f3f3f3;
    clear: both;
    padding-bottom: 35px;
}

.main-content {
    padding: 30px 30px 0 30px;
}


header .content-wrapper {
    padding-top: 20px;
}

footer {
    background-color: #e2e2e2;
    min-height: 60px;
}

.notVisible {
    display: none;
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login div {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

        #login div.username {
            background: none;
            margin: 0;
            padding: 0;
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: left;
}

    ul#menu li {
        display: inline;
        list-style: none;
    }

        ul#menu li a {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            background-color: #52d43f;
            color: black;
        }

            ul#menu li a:hover {
                background-color: #04ab15;
                text-decoration: none;
            }

            ul#menu li a:active {
                background-color: #01831e;
                text-decoration: none;
            }

        ul#menu li.selected a {
            background-color: #fff;
            color: #000;
        }

ul#menu {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    border-bottom: 1px black solid;
}

    ul#menu li {
        display: inline;
        list-style: none;
    }

        ul#menu li a {
            padding: 10px 20px;
            font-weight: bold;
            text-decoration: none;
            line-height: 2.8em;
            background-color: #52d43f;
            color: black;
        }

            ul#menu li a:hover {
                background-color: #04ab15;
                text-decoration: none;
            }

            ul#menu li a:active {
                background-color: #01831e;
                text-decoration: none;
            }

        ul#menu li.selected a {
            background-color: #fff;
            color: #000;
        }


/* page elements
----------------------------------------------------------*/

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }




/* forms */
fieldset {
    border: #999999 solid 1px;
    margin: 10px 0;
    padding: 5px 10px 5px 15px;
}

    fieldset legend {
        font-size: 1.2em;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.1em;
}

    label.checkbox {
        display: inline;
    }

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.1em;
    margin: 0 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #52d43f;
    border: 1px solid #787878;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px 15px;
    width: auto;
}

    input[type="submit"]:hover,
    input[type="button"]:hover,
    button:hover {
        background-color: #0abf03;
    }

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

input[data-role="date"], input[type="date"],
input[data-role="number"], input[type="number"] {
    width: 100px;
}

input[data-role="datetime"], input[type="datetime"] {
    width: 170px;
}


/* field formatters */
dl.line {
    margin: 8px 0 0 0;
}

    dl.line:first-child {
        margin-top: 0;
    }

    dl.line dt {
        width: 200px;
        float: left;
        margin-top: 7px;
    }

    dl.line dd {
        margin-left: 210px;
    }

p.buttons {
    margin: 20px 0 0 0;
    padding: 10px 0 10px 0;
    border-top: gray solid 1px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: green;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}



/*------------Loader-------------*/
.loading-container {
    position: relative;
}

    .loading-container .loading:before, .loading-container .loading:after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 50px;
        min-width: 50px;
    }

    .loading-container .loading:before {
        background-color: white;
        opacity: 0.5;
    }


/* -------------------------------------------------*/
/* ----------------- Data table --------------------*/
.data-table {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: table;
}

    .data-table .thead, .data-table thead tr {
        font-weight: bold;
        background: #52d43f;
        cursor: default;
    }

    .data-table thead th {
        text-align: left;
    }

.ng-table-counts {
    margin: 20px 0;
}


table.filtertable > tbody td {
    padding: 0.25em 2em 0.25em 0;
}






.editor label {
    float: left;
    margin: 10px 0 0 15px;
    width: 100px;
}

.editor input[type=text] {
    width: 150px;
    height: auto;
}

.editorSelectStyle {
    width: 160px;
    margin: 10px 0 0 0;
    height: auto;
}

.editorNotif label {
    margin: 10px 0 0 15px;
    width: 250px;
}

.editorNotif input[type=checkbox] {
    margin: 10px 0 0 15px;
    width: 25px;
    height: auto;
}

.editorPass label {
    margin: 10px 0 0 15px;
    width: 200px;
}

.editorPass a {
    margin: 10px 0 0 15px;
    width: 200px;
}

.editorPass input[type=text] {
    margin-left: 10px;
    width: auto;
    height: auto;
    width: 250px;
}

.editorPass input[type=password] {
    margin-left: 10px;
    width: auto;
    height: auto;
    width: 250px;
}

.editorPass input[type=checkbox] {
    margin-left: 10px;
    width: auto;
    height: auto;
    width: 250px;
}




.editorForm h2 {
    margin-left: 20px;
}

.editorForm input[type=submit] {
    margin-left: 10px;
}

.editorForm dt {
    float: left;
    margin: 10px 0 0 15px;
    width: 100px;
}

.editorForm dd input[type=text], #loginName {
    width: 150px;
    height: auto;
    margin-top: 5px;
}

#loginName {
    padding-top: 10px;
}

.editorForm form {
    float: left;
    margin-right: 25px;
    background-color: beige;
    width: 290px;
    height: 520px;
}

.editorForm hr {
    border: none;
    background-color: #ccc;
    color: #ccc;
    height: 3px;
    width: 90%;
}

.backendMenuCurrent {
    background-color: #d3dce0;
    margin-left: 10px;
    margin-right: 3px;
    padding: 2px 3px;
    text-decoration: none;
}

.homeMenuCurrent {
    background-color: #d3dce0;
    margin-left: 10px;
    margin-right: 3px;
    padding: 2px 3px;
    text-decoration: none;
}